* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
h3{
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    height: 100vh;
    color: #fff;
    font-family: Roboto, sans-serif;
}
.header{
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header_logo{
    text-decoration: none;
    color: white;
    position: relative;
    left: 64px;
}
.header_logo-title-milan{
    font-size: 29px;
    text-transform: uppercase;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 0;
}
.header-logo-title-holidays{
    font-size: 18px;
    line-height: 18px;

    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.header_logo::before{
    content: "";
    background-image: url("../images/header-logo.png");
    width: 53px;
    height: 47px;
    display: block;
    position: absolute;
    right: 96px;
}
.header_logo:hover{
    color: #F26522;
}
.header_logo:hover::before{
    background-image: url("../images/header-logo-orange.png");
}
.contacts-box{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.contacts{
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}
.number{
    margin-top: 16px;
}
.contacts:hover{
    color: #F26522;
}
.main{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 49px;
    width: 1030px;
    display: grid;
    grid-template-columns: 302px 302px 302px;
    grid-template-rows: 260px 260px;
    gap: 65px;
}
.service__image{
    height: 219px;
    border: 4px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 157px ;
    position: relative;
    /* 211  157*/
}
.shopping-tours{
    background-image: url("../images/item1.jpeg");
}
.sightseeing-tours{
    background-image: url("../images/item2.jpeg");
}
.food-tours{
    background-image: url("../images/item3.jpeg");
}
.bars-and-nightlife{
    background-image: url("../images/item4.jpeg");
}
.art-and-architecture{
    background-image: url("../images/item5.jpeg");
}
.walking-tours{
    background-image: url("../images/item6.jpeg");
}
.service__description {
    position: absolute;
    bottom: 0;
    width: 295px;
    height: 0px;
    padding: 0px 0px 0px 0px;
    transition: all 1s;
    margin-bottom: 10px;
}
.description__from{
    font-size: 10px;
    line-height: 10px;
    opacity: 0;
    transition: all 1s;
}
.service:hover .description__from{
    font-size: 10px;
    line-height: 10px;
    opacity: 1;
}
.service:hover .description__cost{
    font-size: 20px;
    line-height: 20px;
}
.service:hover .description__details{
    font-size: 14px;
    line-height: 14px;
}
.description__details{
    position: relative;
}
service:hover .description__details:after{
    position: absolute;
    display: block;
    content: "";
    top: calc(50% - 7px);
    right: -20px;
    width: 8px;
    height: 8px;
    color: white;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
.service:hover .service__description{
    background-color: #F26522;
    height: 55px;
    padding: 7px 37px 12px 16px;
    margin-bottom: 0;
}
.service:hover h3{
    color: #F26522;
}
.description__details-box{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 1s;
}
.service:hover .description__details-box{
    opacity: 1;
}
.service__title{
    font-weight: 100;
    line-height: 18px;
    font-size: 18px;
}
.footer{
    margin: 0 auto;
    height: 21px;
}
.copyright{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

